<mat-drawer-container class="users" *ngIf="users; else spinner">
    <mat-drawer #sidenav mode='over'  >  
        <div > <button class="navbutton" mat-button (blur)="sidenav.toggle()">Users  <mat-icon>keyboard_arrow_left</mat-icon></button> </div>
        <mat-action-list>
            <button [ngStyle]="{'background-color':user.name==selectedUser.name?'lightgrey':'transparent'}"  mat-list-item *ngFor="let user of users" (click)="loadUser(user)">
                
                <span  >{{user.username}}</span>
            
            </button>
            
          </mat-action-list>     
    </mat-drawer>
    <mat-drawer-content >
        
        <button mat-button class="toggleNav"(mouseover)="sidenav.toggle()"> <span class="btntext">Users </span>
             </button>
       <mat-card>
        <mat-card-title>
            <mat-icon> person_pin</mat-icon>
            <mat-label> {{selectedUser.username}} </mat-label> 
        </mat-card-title>
        <mat-card-subtitle>
            
           <mat-label>User Details</mat-label>
        </mat-card-subtitle>
        <mat-card-content>

           
            <mat-icon> place</mat-icon>    <mat-label class="cardContentLabel">  Address  :  </mat-label> <mat-label class="cardContent">{{selectedUser.address.city}}</mat-label> <br>
            <mat-icon>work</mat-icon> <mat-label class="cardContentLabel"> Company : </mat-label>   <mat-label class="cardContent">{{selectedUser.company.name}}</mat-label><br>
             <mat-icon>alternate_email</mat-icon> <mat-label class="cardContentLabel"> Email : </mat-label>  <mat-label class="cardContent">{{selectedUser.email}}</mat-label> <br>
             <mat-icon>perm_phone_msg</mat-icon>  <mat-label class="cardContentLabel"> Phone : </mat-label>  <mat-label class="cardContent">{{selectedUser.phone }}</mat-label>
       
        </mat-card-content>
            
        <mat-card-footer>
            <a href={{selectedUser.website}} class="footer-content"> {{selectedUser.website}}</a>
            <br>
            <button mat-button class='navbutton' (click)="submitFeedback()"> Feedback</button>     
        </mat-card-footer>
 
       </mat-card>

    </mat-drawer-content>

</mat-drawer-container>
<ng-template #spinner> 
   
    <mat-spinner class="spinner" area-label="Loding Users">
    </mat-spinner>
  </ng-template>
