@media(max-width:500px){

    .users{
        font-size: 1rem !important;
        width: 100%;
        word-wrap: break-word;
    }

    .cardContentLabel{
        font-size: 1rem !important;
    }
    .cardContent{
        font-size: 1rem !important;
    }

}


.users{
    position: relative;
    height: 75vh;
    display: flex;
    flex-flow: column wrap;
    overflow: auto;
    
   
}

.mat-card-subtitle{
    padding-top: 1em;
    font-size: medium;
    color:#3f51b5 ;
    font-weight: 400;
}

mat-drawer-content{
    margin-top: 2em;
    align-self: center;
    position: relative;
    width: 50%;
   
}
mat-card-content{
    font-size: 40px;
}
mat-card{
    padding: 2em;
     border: 1px solid lightgrey;
     /* background-color: #3f51b5; */
    
}
.cardContent{
    font-size: large;
    font-weight: 500;
}
.cardContentLabel{

    font-style: italic;
    font-size: x-large;
    font-weight: 500;
}
mat-label{
    margin: 5px;
   
}
