.feedbackForm{
    /* position: relative;
    height: 75%;
    Margin:2%;
    overflow-y: auto;
   overflow-x: hidden; */
   display: flex;
   flex-flow: column wrap;
   align-content: center;
   margin-top: 2em;
   overflow: auto;
   
}
form{
    
    border: 1px solid gray;
    
}
mat-form-field{
    margin: 1%;
}

 mat-expansion-panel{
    width: 80%;
}

button {
    margin: 1%;
    background-color: #3f51b5;
    color: white;
}

mat-action-list{
    overflow: auto;
} 

button[disabled]{
    color: white !important;
    background-color: gray;
}
span{
    margin: 1%;
}