<!-- <div class="container" >
    <div class="row">
        <div class="col-xs-12">
            <form  (submit)="submitForm()"  #userForm="ngForm"  >
    
                <div id="user-data">
                   <div class="form-group">
                       <label for="userName">User Name</label>
                       <input type="text"
                       id="userName"
                       class="form-control"
                       ngModel
                       name="userName"
                       required>
                   </div>
       
       
                </div>
                <div class="form-group">
                   <label for="email">Email</label>
                   <input type="email"
                   class="form-control"
                   ngModel
                   name="email"
                   required
                   email
                   
                   >
               <div class="form-group">

                   <button type="submit" class="btn-primary form-control">Submit</button>
       
               </div>
                </div>
               
       
       
       
           
           </form>
       
       

        </div>

    
     -->

     <div>
        <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>Both a label and a placeholder</mat-label>
            <input matInput placeholder="Simple placeholder">
          </mat-form-field>

     </div>
     