.displayTable{
    height: 90%;
    
    display: flex;
    flex-direction: column;
    /* flex-flow: column wrap; */
    overflow: auto;
    font-weight: 400;
  
}

td{
 cursor: pointer;    
 
}
.filter{
    /* justify-self: start; */
   align-self: flex-start; 
   margin-left: 1em;
    
}

.spinner{
    position: fixed;
    left: 50%;
    top: 30vh;
}




body {
    font-family: 'Covered By Your Grace', cursive;
    line-height: 1.25;
    
  }
  
  
  @media screen and (max-width: 500px) {
    
   table th{
       margin:0;
       padding: 0;
      display: none; 
   }
	
    table tr{
        
         border-bottom: 1px solid gray ;

    }
   
    table td{
        width: 90%;
      
        overflow: auto;
        display: block;
        
        margin: 5px;
       

  } 


  }